@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.text {
    /** 
     * @TODO
     * */
}
.btn {
    /** 
     * @TODO
     * */
}
.title {
    /** 
     * @TODO
     * */
}
body {
    background: linear-gradient(to bottom left, rgba(65, 199, 159,127), rgba(145, 226, 169,127) );
}